.auth {
    font-family: 'Uchen', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-toggle {font-size: 25px;}
.login-toggle:hover {
    cursor: pointer;
    font-weight: 600;
}
.authForm {
    margin: auto;
    width: 80%;
    max-width: 550px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}
.input-container {
    width: 80%;
    height: 50%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.auth-input {
    border: none;
    border-bottom: 2px solid black;
    font-family: 'Uchen', serif;
    font-size: 40px;
    color: #373F51;
    outline: none;
}
.errMsg {
    font-size: 15px;
    color: #6a040f;
}
.login-btn {
    font-family: 'Uchen', serif;
    width: 200px;
    font-size: 30px;
}
.login-btn:hover {background-color: black; color: ghostwhite;}