.book-display {
    width: 1fr;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.book-cover {
    height: 320px;
    width: 200px;
    margin-bottom: 15px;
}

.book-cover-hover:hover {
    cursor: pointer;
    opacity: 0.85;
}

.book-cover-default {
    background-color: #283044;
}

.book-cover-default p {
    font-size: 15px;
    color: #fff;
    padding: 5px 8px;
}

.book-title {
    font-size: 30px;
    margin-block-end: 0;
}

.author {
    font-size: 20px;
}
.book-genre {
    text-transform: lowercase;
    font-size: 20px;
    font-style: italic;
    margin-block-end: 0;
    margin-block-start: 0;
}
.book-summary {
    font-size: 20px;
    text-align: left;
}
.btns-container {
    display: flex;
    width: 265px;
    justify-content: space-between;
}
button {
    font-size: 15px;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    font-weight: bold;
}
button:hover {
    background-color: #E9F1F7;
    color: #373F51;
    cursor: pointer;
}
.x-edit-btn-container {
    width: 70px;
    display: flex;
    justify-content: space-between;
}
.finishBtn {
    background-color: #373F51;
    color: white;
}
.close-btn {
    background-color: red;
    color: white;
}