.book-form-container {
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.book-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
}
.book-form > input {
    font-size: 25px;
    border: none;
    font-family: 'Uchen', serif;
    border-bottom: 2px solid black;
}
.book-form > input:focus { outline: none !important;}
.summary {
    height: 150px;
    width: 100%;
    margin-bottom: 50px;
    font-family: 'Uchen', serif;
    border: 2px solid black;
    font-size: 25px;
    border-radius: 10px;
}
.summary:focus { outline: none !important;}
.add-btn-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.add-btn {
    padding: 2px 40px;
    font-family: inherit;
    font-size: 20px;
    color: white;
    border: none;
    margin: auto;
    font-weight: 700;
    background-color: black;
}
.add-btn:focus { outline: none; }
.add-btn:hover { cursor: pointer; }