.book-form-container {
    margin: auto;
    width: 90%;
    /* border: 2px solid orange; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.book-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    /* box-shadow: 0 2px 6px #555; */
}

.book-form > input {
    font-size: 25px;
    border: none;
    font-family: 'Uchen', serif;
    border-bottom: 2px solid black;
}

.book-form > input:focus {
    outline: none !important;
}

textarea {
    height: 100px;
    margin-bottom: 50px;
    font-family: 'Uchen', serif;
    border: none;
    font-size: 25px;
    border-bottom: 2px solid black;
}

textarea:focus {
    outline: none !important;
}

.add-btn {
    padding-left: 30px;
    padding-right: 30px;
    font-family: inherit;
    font-size: 20px;
    color: white;
    border: none;
    margin: auto;
    font-weight: 700;
    background-color: black;
}
.add-btn:focus {
    outline: none;
}
.add-btn:hover {
    cursor: pointer;
}

